table {
  /*padding: 5px;*/
  margin: 20px;
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

th , td {
  border: 1px dotted lightgrey;
}

tr:nth-child(even) {
  background-color: #ed7d31;
}

tr:nth-child(odd) {
  background-color: #f8cbac;
}
.time {
   background-color: white;
 }
